/* .card {
  background: #fff;
  border-radius: 20px;
  display: inline-block;
  padding: 15px 15px 15px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.card:hover,
.card:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

/* comments css */

.responsiveImage {
  height: auto;
  max-width: 100%;
  border: none;
  display: block;
}

input,
textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
  font-size: 1rem;
  color: #555f77;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  /* line-height: 1.3125rem; */
}

.comments {
  /* margin: 2.5rem auto 0; */
  height: 100%;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 10px;
  display: table;
  width: 100%;
  /* min-height: 5.3125rem; */
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-name {
  font-weight: 500;
  /* margin-bottom: 1.25rem; */
}

.comment-text {
  /* margin-bottom: 1.25rem; */
}

.bottom-comment {
  color: #acb4c2;
  /* font-size: 0.875rem; */
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}

.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}

.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}

.comment-actions li:hover {
  color: #0095ff;
}

.fixed {
  position: fixed;
  bottom: 0px;
  backdrop-filter: blur(10px);
}
/* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
filter: blur(10px); */

.spacing {
  min-height: 70px;
}

.title {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 50px;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #2962ff;
  backdrop-filter: blur(10px);
}

/* video feed css */

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
