@import '../../index.scss';

.profile_image {
  padding: 10px;
  cursor: pointer;
}

.crop-container {
  width: 100%;
  height: 200px;
  position: relative;
}

.controls {
  margin: auto;
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

.profile_image input[type='file'] {
  display: none;
}

.user-basic-details-row {
  border-bottom: 1px solid black;
}
