.bottomLink {
  color: #191818;
}

.bottomLink:focus {
  outline: none;
}

.bottomLink:hover {
  color: #191818;
}

/* Ninth Section */
.ninthSectonRightHeading {
  font-size: 0.9rem;
  font-weight: 600;
}

.ninthSectionLinks {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000 !important;
}

.ninthSectionLinks:hover {
  font-size: 0.9rem !important;
  text-decoration: none;
}

/* Tenth Section */
.bottomLink {
  font-size: 2rem;
}

.gotoTopButton {
  transition: 0.7;
}
